.checkbox {
    position: relative;

    &__input {
        position: absolute;
        cursor: pointer;
        left: 0;
        top: 0;
        width: 38px;
        height: 38px;

        &:before {
            content: "";
            border: 2px solid $ship-grey;
            background: white;
            width: 34px;
            height: 34px;
            position: absolute;
            top: 0;
            left: 0;
        }

        &:after {
            content: "";
            border: solid;
            border-width: 0 0 5px 5px;
            border-color: $ship-grey;
            background: transparent;
            width: 17px;
            height: 7px;
            position: absolute;
            top: 10px;
            left: 8px;
            -moz-transform: rotate(-45deg); // Firefox 15 compatibility
            -o-transform: rotate(-45deg); // Opera 12.0 compatibility
            -webkit-transform: rotate(-45deg); // Safari 8 compatibility
            -ms-transform: rotate(-45deg); // IE9 compatibility
            transform: rotate(-45deg);
            @include opacity(0);
        }

    }

    &__label {
        //display: block;
        display: inline-block;
        float: none;
        clear: left;
        position: relative;
        padding: (8px 8px 9px 50px);
        margin-bottom: 8px;
        cursor: pointer; // Encourage clicking on block labels
    }

    &.disabled {
        input[disabled] {
            &:before {
                border: 2px solid $iron;
            }
        }
        label {
            color: $iron;
        }
    }

    .selected:after {
        @include opacity(1);
    }

    .focused:before {
        @include box-shadow(0 0 0 5px $carrot);

    }

}
