.hierarchy {

    li {
        list-style: none;
        margin: 0;
        position: relative;
    }

    &--children {

        padding-top: 0;
        padding-bottom: 0;

        ul {
            border-left: 3px solid #D0D2D3;
            margin-bottom: 0;
            margin-top: 0;
            padding-top: 16px
        }
    }
}
